
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  border: 10px chocolate solid;
  width: 10000px;
  display: flex;
  flex-direction: column;

}

.nav {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  border: 10px blue solid;
  background-color: black;
  width: 100%;
}

.header__nav {
  border: 10px solid green;
  width: 100%;
}

.header__izq {
  border: 10px solid palegreen;

  /* width: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-50px);


}

.row {
  display: flex;
  justify-content: space-between;
}

.btn-secondary {
  --bs-btn-color: black;
  --bs-btn-bg: white;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: white;
}

.header__cen {
  border: 10px solid lawngreen;
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header__der {
  border: 10px solid wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  text-decoration: none;
}

.header__der--car {
  border: 10px solid wheat;
  color: white;
  width: 50px;
  transform: scale(1.7);
  text-decoration: none;

}


.section {

  border: 10px solid peru;
}



.contador {
  border: 10px solid royalblue;
  width: 100%;

}

.contador1 {
  border: 10px solid darkolivegreen;
  width: 230px;
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 14px;
  height: 59px;
  letter-spacing: 2px;
  font-weight: bold;

}

.contador2 {
  border: 10px solid darkorange;
  
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 14px;
  height: 59px;
  letter-spacing: 2px;
  font-weight: bold;

}

.contador__suma {
  border: 10px solid blue;
  width: 60px;
  background-color: white;
  color: black;
  font-size: 23px;
  border-color: white;
  /* border: none; */

}

.contador__resta {
  border: 10px solid blueviolet;
  width: 60px;
  transform: translateY(5px);
  background-color: white;
  color: black;
  font-size: 43px;
  border-color: white;
  /* border: none; */

}

.contador__carrito {
  /* border: 10px solid gray; */
  background-color: black;
  color: white;
  border-bottom: 10px;
  font-size: 25px;
  border-radius: 30px;
  border: none;
}

.contador__stock {
  /* border: 10px solid indigo; */
  color: #212529;
  background-color: transparent;
  opacity: .65;
}

.contador__count {
  border: 10px solid yellow;
  width: 45px;
  transform: translateY(2px);
  background-color: white;
  color: black;
  font-size: 25px;
  border-color: white;
  /* border: none; */
}

.item__grid {
  /* border: 10px solid blue; */

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 2rem;
  margin: auto 90px;


}

.item__grid--card {
  /* border: 10px solid sienna; */
  width: 300px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px black;
}

.item__grid--card--img {
  border: 10px solid sienna;
  margin: 20px;
}

.item__grid--name {
  border: 10px solid yellow;
  margin: 5px;
  font-size: 25px;
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;

}

.item__grid--subname {
  border: 10px solid green;
  margin: 5px;
  font-size: 20px;
  line-height: 29px;


}

.item__grid--price {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.ri-eye-line {
  margin: 7px;

}

.item__grid--ver {
  border: 1px solid black;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin: 5px;

}

.detalle__grid {
  border: 10px solid green;

  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}

.detail {
  border: 10px solid blue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;

}

.content__ruta {
  border: 10px solid aqua;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}

.content__title {
  border: 10px solid lawngreen;
  margin-top: 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 34px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 10px;

}

.content__price {
  border: 10px solid lightcoral;
  margin-bottom: 0.5rem !important;
  margin-top: 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 28px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
}

.content__text {
  border: 10px solid palevioletred;
  margin-top: 0;
  line-height: 20px;
  font-size: 14px;
  color: #000;
  font-family: "Montserrat", Sans-serif;
  text-align: left;
  font-weight: bold;
  margin: 10px;
  padding: 1rem;
  width: 350px;
}

.content__talle {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  width: 180px;
  height: 40px;
  border-radius: 15px;


}

.content__title--t {
  /* border: 10px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer__grid {
  border: 10px solid red;
  color: #000;
  background: rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.footer__nosotros {
  border: 10px solid chartreuse;

}

.footer__nos--p {
  color: #777;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
}

.footer__redes {
  border: 10px solid darkcyan;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.footer__redes--cont {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f7f7f7;
}

.footer__suscrip {
  border: 10px solid darkcyan;
}

.footer__emp {
  border: 10px solid darkred;
}

.link__carrito {
  color: #000;
  cursor: pointer;
  text-decoration: none;
  font-family: "Montserrat", Sans-serif;
  font-size: 22px;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 550px;
}

.cart {
  border: 10px solid darkblue;
  margin: 10px;
}

.cart__noProduc {
  border: 10px solid darkcyan;
  margin: 10px;
  margin-top: 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  color: #777;
}

.cart__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.cart__total1 {
  text-align: left;
  font-family: "Montserrat",Sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.cart__total2 {
  text-align: right;
  font-family: "Montserrat",Sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.btn-link {
  color: #000;
  fill: #000;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 14px;
  font-family: "Montserrat",Sans-serif;
}

.cart__img {
  width: 90px;
  height: auto;
}
