.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  
  width: 100%;
  display: flex;
  flex-direction: column;

}

.conteiner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 padding: 3rem;
}

.nav {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header {
  
  background-color: black;
  width: 100%;
}

.header__nav {
  
  width: 100%;
}

.header__izq {
  

  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-50px);


}

.row {
  display: flex;
  justify-content: space-between;
}

.btn-secondary {
  --bs-btn-color: black;
  --bs-btn-bg: white;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: white;
}

.header__cen {
  
  width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.header__der {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  text-decoration: none;
}

.header__der--car {
 
  color: white;
  width: 50px;
  transform: scale(1.7);
  text-decoration: none;

}

.contador {
 
  width: 100%;

}

.contador1 {
 
  width: 230px;
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 14px;
  height: 59px;
  letter-spacing: 2px;
  font-weight: bold;

}

.contador2 {
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 14px;
  height: 59px;
  letter-spacing: 2px;
  font-weight: bold;

}

.contador__suma {
  border: 10px solid blue;
  width: 60px;
  background-color: white;
  color: black;
  font-size: 23px;
  border-color: white;
  

}

.contador__resta {
  border: 10px solid blueviolet;
  width: 60px;
  transform: translateY(5px);
  background-color: white;
  color: black;
  font-size: 43px;
  border-color: white;
 

}

.contador__carrito {
  
  background-color: black;
  color: white;
  border-bottom: 10px;
  font-size: 25px;
  border-radius: 30px;
  border: none;
}

.contador__stock {
 
  color: #212529;
  background-color: transparent;
  opacity: .65;
}

.contador__count {
  border: 10px solid yellow;
  width: 45px;
  transform: translateY(2px);
  background-color: white;
  color: black;
  font-size: 25px;
  border-color: white;

}

.item__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 2rem;
  margin: auto 90px;
  gap: 20px;
  transform: translateX(20px);
}

.item__grid--card {
 
  width: 300px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px black;
}

.item__grid--card--img {
  
  margin: 20px;
}

.item__grid--name {
  
  margin: 5px;
  font-size: 25px;
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;

}

.item__grid--subname {
 
  margin: 5px;
  font-size: 20px;
  line-height: 29px;


}

.item__grid--price {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.ri-eye-line {
  margin: 7px;

}

.item__grid--ver {
  border: 1px solid black;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin: 5px;

}

.detalle__grid {
  border: 10px solid green;

  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}
s
.detail {
  border: 10px solid green;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;

}

.content__ruta {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
  width: 20px;
}

.content__title {
 
  margin-top: 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 34px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 10px;

}

.content__price {
 
  margin-bottom: 0.5rem !important;
  margin-top: 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 28px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px;
}

.content__text {
 
  margin-top: 0;
  line-height: 20px;
  font-size: 14px;
  color: #000;
  font-family: "Montserrat", Sans-serif;
  text-align: left;
  font-weight: bold;
  margin: 10px;
  padding: 1rem;
  width: 350px;
}

.content__talle {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  width: 180px;
  height: 40px;
  border-radius: 15px;


}

.content__title--t {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

.cont__Footer {
 
  color: #000;
  background: rgba(0, 0, 0, 0.1);

}

.footer__nosotros {
  border: 10px solid chartreuse;

}

.footer__nos--p {
  color: #777;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
  font-weight: 300;
  text-transform: none;
  font-style: normal;
}

.footer__redes {

  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.footer__redes--cont {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f7f7f7;
}

.footer__suscrip {
  border: 10px solid darkcyan;
}

.footer__emp {
  border: 10px solid darkred;
}

.link__carrito {

  width: 100%;
  margin: 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 14px;
  height: 59px;
  letter-spacing: 2px;
  font-weight: bold;

}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 550px;
}

.cartwidget__cant {
  color: #000;
  background: #9d231a;
  position: absolute;
  right: 10px;
  top: -3px;
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
  line-height: 6px;
  border-radius: 20px;

}

.cart {
 
  margin: 10px;
}

.cart__noProduc {
  
  margin: 10px;
  margin-top: 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  color: #777;
}

.cart__total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.cart__total1 {
  text-align: left;
  font-family: "Montserrat", Sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.cart__total2 {
  text-align: right;
  font-family: "Montserrat", Sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.btn-link {
  color: #000;
  fill: #000;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 14px;
  font-family: "Montserrat", Sans-serif;
}

.cart__img {
  width: 90px;
  height: auto;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart__descrip {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__cant {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__cant--1 {
  display: block;
  padding: 5px;
  border-radius: 20px;
  width: 135px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.cart__cant--2 {
  border: none;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  transform: translate(-25px);
}

.cart__cant--3 {
  border: none;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
  transform: translate(25px);
}

.cart__precio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.cart__borrar {
  border: none;
  background: none;
  font-size: 20px;
}

.card__buy {
  font-size: 20px;
  color: white;
}

.dos {
  border: 1px solid black;
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  width: 90%;
  margin: 5px;
}

.form {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.form__title {
  margin: 0;
  font-size: 34px;
  font-weight: bold;
  color: #000;
  text-align: left;
  border: 0;
  text-shadow: none;
  font-family: "Montserrat", Sans-serif;
  margin: 5px;
}

.form__control {
  background: #fff;
  border-color: rgba(0, 0, 0, 0.3);
  color: #000;
  font-family: "Montserrat", Sans-serif;
  border-radius: 10px;
  margin: 15px;
  width: auto;
  padding: 1rem;
  display: none;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #525153;
  float: left;
  font-size: 1em;
  line-height: 2.4em;
  padding: 12px 10px;
  transition: all .5s cubic-bezier(.16, .68, .43, .99), border-bottom-left-radius 0s, border-bottom-right-radius 0s;
  z-index: 999999;
  height: 46px;
  padding: 17px 10px 4px 13px;
}

.form__entrega {

  border-radius: 10px;
  position: relative;
  margin-bottom: -1px;
  padding-left: 55px;
  background: #fff;

  border-color: rgba(0, 0, 0, 0.15);
  border: 1px solid #ebeaee;
  margin-bottom: 10px;
  padding: 1em;
}

.form__selector {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 100%;
  margin: 0;
  text-align: center;
}

.form__radio::before {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__title--correo {
  max-width: 90%;
  color: #1a1a1a;
  font-weight: 600;
  line-height: 1.2em;
  font-family: "Montserrat", Sans-serif;

}

.form__precio--correo {
  float: right;
  font-size: 16px;
  color: #000;
  font-family: "Montserrat", Sans-serif;
  font-weight: bold;
}

.form__subtitle {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.footer__copy {
 
  background-color: #000;
  color: white;
  text-align: left !important;
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer__a {
  font-weight: 700 !important;
  text-decoration: none;
  color: white;
}

.cont__Titulo {
  margin-top: 0;
  font-family: "Montserrat", Sans-serif;
  font-size: 34px;
  font-weight: 700;
  box-sizing: inherit;
  margin: 45px;
}

.content2 {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 25px;
  transform: translate(70px, 10px);
}

.content__circle {
  border-radius: 100%;
  border: #000 1px solid;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(2.5) translateY(14px);
  margin-left: 55px;
}

.content__descrip {
  display: flex;

}

.content__descrip--title {
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-left: 110px;
}

.content__descrip--subtitle {
  line-height: 20px;
  font-size: 14px;
  font-family: "Montserrat", Sans-serif;
  margin-left: 110px;
}

.main__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}




@media screen and (max-width:1024px) {
  .item__grid {
    transform: translateX(-80px);
  }

  .content2 {
    transform: translate(5px, 10px);
  }
  
  .conteiner {
   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   
  }
}

@media screen and (max-width:689px){
  .item__grid {
    
    transform: translateX(-85px);
  }
}

@media screen and (max-width:972px) {
  .item__grid {
    grid-template-columns: repeat(2, 1fr);
    transform: translateX(9px);
  }

  .detail {
   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
  }

  .content__title {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;

  }

  .detail__img {
   
    transform: translateX(65px);
    margin: 20px;
  }

  .content2 {
    display: none;
  }
}

@media screen and (max-width:680px) {
  .item__grid {
    grid-template-columns: repeat(1, 1fr);
    transform: translateX(60px);
  }

  .detail__img {
    transform: translateX(-20px);
    width: 456px;
  }

  .content__ruta {
    width: 440px;
  }

  .content__title {
    width: 440px;
  }

  .content__price {
    width: 420px;
  }

  .contador {
    width: 456px;
  }

  .header__izq {
    width: 180px;
    transform: translateX(-50px);
  }

  .content2 {
    display: none;
  }
}

@media screen and (max-width:560px) {
  .item__grid {
    grid-template-columns: repeat(1, 1fr);
    transform: translateX(9px);
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .header__cen {
    width: 150px;

  }

  .header__izq {
   
    width: 140px;
    transform: translateX(-30px);
  }

  .footer__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .detail__img {
    width: 448px;
  }

  .content__ruta {
    width: 430px;
  }

  .content__title {
    width: 430px;
  }

  .content__price {
    width: 410px;
  }

  .contador {
    width: 448px;
  }

}

@media screen and (max-width:480px) {

  .content {
    width: 300px;
  }

  .detail__img {
    transform: translateX(-60px);
    width: 392px;
  }

  .content__ruta {
    width: 374px;
  }

  .content__title {
    width: 374px;
  }

  .content__price {
    width: 355px;
  }

  .contador {
    width: 392px;
  }

  .conteiner{
    width: auto;
  }

}


@media screen and (max-width:415px) {
  .header__cen {
    
    width: 168px;
  }

  .header__izq {
   
    width: 115px;
    transform: translateX(-15px);
  }

  .item__grid {
    grid-template-columns: repeat(1, 1fr);
    transform: translateX(-65px);
  }

  .cart__noProduc {
    font-size: 28px;
  }

  .detail {
    
    width: 390px;
    transform: translateX(-45px);
}
}

@media screen and (max-width:350px) {
  .item__grid--card {
    width: 260px;
    transform: translateX(-15px);
  }

  .item__grid--card--img {
    
    margin: 5px;
}


}